# انسخ هذا الملف إلى .env أو استخدم هذه المتغيرات في Railway
BOT_TOKEN=
ADMIN_BOT_TOKEN=
ADMIN_ID=
DRIVE_FOLDER_ID=
WOOSOCIAL_API_KEY=
WOOSOCIAL_PROJECT_ID=
TIKTOK_ACCOUNT_ID=
TOKEN_PICKLE_B64=
GOOGLE_CREDS_B64=
