USER_BOT_TOKEN=
ADMIN_BOT_TOKEN=
ADMIN_ID=
DRIVE_FOLDER_ID=
GOOGLE_CREDENTIALS_B64=
TOKEN_PICKLE_B64=
YT_COOKIES_B64=
YT_PO_TOKEN=
YT_VISITOR_DATA=
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
FREE_TRIAL_API_KEY=
FREE_TRIAL_PROJECT_ID=
FREE_TRIAL_ACCOUNT_ID=
DATA_DIR=/railway/volume
